<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review-Analyzer | A Tool For Classifying Reviews</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Work+Sans:900" rel="stylesheet">

</head>

<body>
    {% include 'includes/_navbar.html' %} {% block body %} {% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>

</html>